<h1 style="color:red;text-align:center;"> This page is restricted to autorized users only</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="well" style="color:inherit;text-align:center;">
  <h3>Please contact the administrator</h3><br/>
  <a class="btn btn-primary" href="/contact">Go back</a>
</div>
  <!--
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
  -->
<% end %>

<%= render "devise/shared/links" %>
